h1 {
  color: rgb(165, 165, 165);
  text-align: center;
}

form {
  align-items: center;
  justify-content: center;
  align-content: center;
}

input {
  border-radius: 5px;
  border-color: rgb(165, 165, 165);
  color: red;
  text-shadow: 0cqmax;
}

button {
  border-radius: 5px;
  border-style: inset;
  color: green;
  background-color: white;
}
